/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: grid;
  justify-content: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--bg-color);
  font-family: var(--main-font, sans-serif);
  font-variation-settings: "wght" var(--min-font-weight) var(--max-font-weight);
  color: var(--text-color);
  background-attachment: fixed;
  background-image: 
    repeating-linear-gradient(var(--gradient-line-color) 0 2px, transparent 2px 4px),
    repeating-linear-gradient(90deg, var(--gradient-line-color) 0 2px, transparent 2px 4px),
    linear-gradient(var(--start-gradient) 0.01%, var(--end-gradient));
  background-size: cover;
  background-repeat: no-repeat;
  gap: 54px;
  max-width: 696px;
  margin: 100px auto;
}

.centered-content {
  display: grid;
  justify-content: center;
}

.header {
  display: grid;
  align-items: center;
  grid-template-rows: 1fr 1fr 1fr;
  min-width: var(--wide-width);
  min-height: clamp(20.4375rem, 19.6232rem + 3.4742vw, 22.75rem);
  font-family: var(--font-accent);
  margin-block-end: 45px;
}

.header-main-title {
  gap: 20px;
  grid-row-start: 2;
}

.heading-logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  padding-top: 12px;
}

.heading-text {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  font-style: normal;
}

.theme-menu {
  display: grid;
  grid-row-start: 3;
}

.theme-menu__list {
  display: grid;
  justify-content: center;
  align-items: end;
  padding-left: 20px;
  gap: 1px;
  padding-top: 5px;
}

.theme-menu__item {
  display: grid;
  justify-content: start;
  text-align: end;
}

.theme-menu__button {
  position: relative;
  display: block;
  border: none;
  cursor: pointer;
  min-width: 70px;
  min-height: 26px;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 14px;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -20px;
  animation: arrow 0.5s ease-in-out infinite alternate;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  margin-top: 2px;
  background-color: var(--text-color);
  transition: width 0.5s;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.theme-menu__button:disabled {
  opacity: .6;
}

.theme-menu__button:focus {
  outline: none;
}

.main-blocks {
  background-color: var(--bg-color);
  max-width: 696px;
  border: 2px solid var(--text-color);
}

.content {
  display: grid;
  gap: 50px;
}

.card-title {
  font-size: 18px;
  padding: 5px 10px;
  border-bottom: 2px solid var(--text-color);
}

.card-image-item {
  position: relative;
  display: block;
  aspect-ratio: 1/1;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-start {
  filter: grayscale(0.8);
}

.image-page {
  filter: saturate(250%);
}

.image-worry {
  filter: sepia(80%);
}

.image-race {
  filter: hue-rotate(250deg);
}

.image-family {
  filter: opacity(0.8);
}

.image-hardwork {
  filter: invert(0.3);
}

.image-difficult {
  filter: blur(0.2rem);
}

.image-here {
  filter: brightness(120%) saturate(20%) sepia(20%) saturate(250%);
}

.watermark {
  position: absolute;
  mix-blend-mode: hard-light;
  z-index: 1;
  right: 10px;
  top: 23px;
  font-family: var(--font-accent);
  font-size: 14px;
  color: var(--text-color);
  text-shadow:
    -1px 0 var(--bg-color), 
   0 1px var(--bg-color), 
   1px 0 var(--bg-color), 
   0 -1px var(--bg-color);
}

@supports((text-stroke: 1px #FFF) or (-webkit-text-stroke: 1px #FFF)) {
  .watermark {
    -webkit-text-stroke: 1px var(--bg-color);
    text-stroke: 1px var(--bg-color);
    text-shadow: none;
  }
} 

.card-text {
  display: grid;
  border-top: 2px solid var(--text-color);
  padding: 22px 25px;
  gap: 27px;
  line-height: 21px;
  font-size: 18px;

}

.like-block {
  display: flex;
  justify-content: end;
  padding-right: 25px;
  padding-bottom: 20px;
}

.card__like-button {
  display: flex;
  position: relative;
  border: 2px solid var(--text-color);
  cursor: pointer;
  inline-size: 130px;
  block-size: 38px;
  font-family: var(--font-accent);
  font-size: 14px;
  color: var(--text-color);
  align-items: center;
  justify-content: center;
  background-color: transparent;
  overflow: hidden;
}

.card__like-button:hover::before {
  transform: translate(0);
}

.card__like-button:focus {
  outline: none;
}

.button__text {
  mix-blend-mode: difference;
  color: var(--text-color-button);
}

.core {
  opacity: 0;
}

.sparks {
  opacity: 0;
}

.main-body {
  opacity: 0;
}

.card__icon-button {
  display: block;
  border: none;
  cursor: pointer;
  min-inline-size: 27px;
  min-block-size: 24px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  align-self: center;
}

.card__icon-button:focus {
  outline: none;
}

.like-icon {
  width: 100%;
  outline: 2px solid transparent;
}

.footer-button {
  display: flex;
  gap: 8px;
  position: relative;
  border: 2px solid var(--text-color);
  cursor: pointer;
  min-inline-size: 335px;
  min-block-size: 51px;
  font-family: var(--font-accent);
  font-size: 14px;
  margin: 0 auto;
  padding: 15px;
  color: var(--text-color);
  overflow: hidden;
  align-items: center;
  justify-content: space-around;
  background-color: var(--bg-color);
}

.footer-button:hover::before {
  transform: translate(0);
}

.footer-button:focus {
  outline: none;
}

@media (width <= 375px) {
  .footer-button {
    flex-direction: column;
    min-inline-size: 306px;
    min-block-size: 80px;
  }

  .footer-dialog {
    width: 341px;
    height: 195px;
  }

  .heading-logo {
    padding-top: 0;
  }

  .theme-menu__list {
    padding-bottom: 8px;
    padding-top: 0;
  }

  .floppy-footer {
    width: 28px;
    height: 28px;
  }
}


.floppy {
  mix-blend-mode: difference;
  color: var(--text-color-button);
}

dialog {
  max-inline-size: 550px;
  min-inline-size: 250px;
  background-color: var(--bg-color);
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.3);
  backdrop-filter: blur(7px);
}

.footer-dialog {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.footer-dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  justify-content: center;
}

.footer-dialog[open] .dialog-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;

}

.dialog-text {
  font-family: var(--font-accent);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.dialog-button {
  display: block;
  position: relative;
  border: 2px solid var(--text-color);
  cursor: pointer;
  inline-size: 293px;
  block-size: 38px;
  font-family: var(--font-accent);
  font-size: 14px;
  color: var(--text-color);
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin: 0 auto;
  overflow: hidden;
}

.dialog-button:hover::before {
  transform: translate(0);
}

.dialog-button:focus {
  outline: none;
}

